INSTALL
Makefile
Makefile.in
autom4te.cache
compile
config.h*
config.h.in~
config.log
config.status
config.guess
config.sub
configure
depcomp
install-sh
missing
.deps
.libs
ltmain.sh
libtool
aclocal.m4
m4
*.la
*.lo
*.o
libicns.pc
libicns.spec
stamp-h1
icns2png
icnsutil
icontainer2icns
png2icns
