INSTALL
Makefile
Makefile.in
autom4te.cache
config.h*
config.log
config.status
configure
.deps
.libs
libtool
aclocal.m4
build-aux
m4
*.la
*.lo
*.o
libicns.pc
libicns.spec
stamp-h1
icns2png
icnsutil
icontainer2icns
png2icns
libicns-*.tar.*
